In [1]:
#requires that Java is install on the computer (my need to reboot after install)
import tabula
import pandas as pd

In [3]:
# read in pdf table to python
file = "Name_of_File.pdf"
table = tabula.read_pdf(file,pages=1)
table[0]

,Unnamed: 0,Unnamed: 1,REF. NO. TERMS,DUE DATE
0,NaN,NaN,210624GAM Net 15,9/3/2021
1,DATE,DESCRIPTION,QTY/HRS RATE,AMOUNT
2,07/28/21,Mobilization to and from jobsite in Aspen. Del...,615.00,615.00
3,NaN,PFAS facility. (2 people).,NaN,NaN
4,07/28/21,Onsite time/installation services: De-install ...,3 280.00,840.00
5,NaN,"install 5, organize garage. Bring back 2 crate...",NaN,NaN
6,NaN,dispose of. Also deliver one artwork back to P...,NaN,NaN
7,07/28/21,Crate disposal charges.,125.00,125.00
8,07/28/21,Installation hardware/materials/supplies.,15.00,15.00
9,08/05/21,Onsite time/installation services: Move and re...,2.5 380.00,950.00
10,NaN,people).,NaN,NaN
11,08/05/21,Mobilization from jobsite back to PFAS warehou...,0.75 380.00,285.00
12,08/05/21,Installation hardware/materials/supplies.,20.00,20.00
13,NaN,**Boxing and Shipping of the Kevin Baker artwo...,NaN,NaN
14,NaN,separately**,NaN,NaN
15,NaN,NaN,Subtotal,"$2,850.00"
16,"THANK YOU FOR YOUR REQUEST, WE LOOK FORWARD TO",NaN,NaN,NaN
17,NaN,SERVING YOU!,Payments/Credits,$0.00
18,"Balance Due $2,850.00Phone: 970-922-1913",NaN,NaN,NaN

In [25]:
# convert pdf list into data frame and drop top two rows
df=pd.DataFrame(table[0])
df=df.drop(df.index[:1])
df

,Unnamed: 0,Unnamed: 1,REF. NO. TERMS,DUE DATE
1,DATE,DESCRIPTION,QTY/HRS RATE,AMOUNT
2,07/28/21,Mobilization to and from jobsite in Aspen. Del...,615.00,615.00
3,NaN,PFAS facility. (2 people).,NaN,NaN
4,07/28/21,Onsite time/installation services: De-install ...,3 280.00,840.00
5,NaN,"install 5, organize garage. Bring back 2 crate...",NaN,NaN
6,NaN,dispose of. Also deliver one artwork back to P...,NaN,NaN
7,07/28/21,Crate disposal charges.,125.00,125.00
8,07/28/21,Installation hardware/materials/supplies.,15.00,15.00
9,08/05/21,Onsite time/installation services: Move and re...,2.5 380.00,950.00
10,NaN,people).,NaN,NaN
11,08/05/21,Mobilization from jobsite back to PFAS warehou...,0.75 380.00,285.00
12,08/05/21,Installation hardware/materials/supplies.,20.00,20.00
13,NaN,**Boxing and Shipping of the Kevin Baker artwo...,NaN,NaN
14,NaN,separately**,NaN,NaN
15,NaN,NaN,Subtotal,"$2,850.00"
16,"THANK YOU FOR YOUR REQUEST, WE LOOK FORWARD TO",NaN,NaN,NaN
17,NaN,SERVING YOU!,Payments/Credits,$0.00
18,"Balance Due $2,850.00Phone: 970-922-1913",NaN,NaN,NaN

In [26]:
df.columns = df.iloc[0]
df=df.drop(df.index[:1])
df=df.reset_index(drop=True)
df

1,DATE,DESCRIPTION,QTY/HRS RATE,AMOUNT
0,07/28/21,Mobilization to and from jobsite in Aspen. Del...,615.00,615.00
1,NaN,PFAS facility. (2 people).,NaN,NaN
2,07/28/21,Onsite time/installation services: De-install ...,3 280.00,840.00
3,NaN,"install 5, organize garage. Bring back 2 crate...",NaN,NaN
4,NaN,dispose of. Also deliver one artwork back to P...,NaN,NaN
5,07/28/21,Crate disposal charges.,125.00,125.00
6,07/28/21,Installation hardware/materials/supplies.,15.00,15.00
7,08/05/21,Onsite time/installation services: Move and re...,2.5 380.00,950.00
8,NaN,people).,NaN,NaN
9,08/05/21,Mobilization from jobsite back to PFAS warehou...,0.75 380.00,285.00
10,08/05/21,Installation hardware/materials/supplies.,20.00,20.00
11,NaN,**Boxing and Shipping of the Kevin Baker artwo...,NaN,NaN
12,NaN,separately**,NaN,NaN
13,NaN,NaN,Subtotal,"$2,850.00"
14,"THANK YOU FOR YOUR REQUEST, WE LOOK FORWARD TO",NaN,NaN,NaN
15,NaN,SERVING YOU!,Payments/Credits,$0.00
16,"Balance Due $2,850.00Phone: 970-922-1913",NaN,NaN,NaN

In [33]:
df=df.dropna(subset=['DATE','DESCRIPTION'])
df['CLIENT']='Gamson'
df

1,DATE,DESCRIPTION,QTY/HRS RATE,AMOUNT,CLIENT
0,07/28/21,Mobilization to and from jobsite in Aspen. Del...,615.00,615.00,Gamson
2,07/28/21,Onsite time/installation services: De-install ...,3 280.00,840.00,Gamson
5,07/28/21,Crate disposal charges.,125.00,125.00,Gamson
6,07/28/21,Installation hardware/materials/supplies.,15.00,15.00,Gamson
7,08/05/21,Onsite time/installation services: Move and re...,2.5 380.00,950.00,Gamson
9,08/05/21,Mobilization from jobsite back to PFAS warehou...,0.75 380.00,285.00,Gamson
10,08/05/21,Installation hardware/materials/supplies.,20.00,20.00,Gamson